// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

.v-horizontal > .v-spacing {
  width: 50px;
}

.v-vertical > .v-spacing {
  height: 30px;
}

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-background-color: #F7F7F7;
$v-focus-color: #e2001a;
$v-app-margin-top: 0px;
$v-app-loading-text: "Seite wird geladen...";
$v-font-family: "Source Sans Pro", sans-serif;

@import "../valo/valo.scss";

@mixin housing {
  @include valo;

  // Insert your own theme rules here

  .v-panel-test {
    background-color: #F7F7F7;
    box-shadow: none;
  }

  .v-panel-red {
    //background-color: #7e878e;
    background-color: #e2001a;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
  }

  .v-verticallayout-navigation {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .v-horizontallayout-footer {
    margin-top: 0px;
    padding-top: 0px;
    //padding-bottom:0px;
  }

  .v-label-title {
    font-size: 30px;
    color: #e2001a;
    margin-bottom: 20px;
  }

  .v-textfield {
    margin-bottom: 15px;
    margin-right: 30px;
  }

  //Ganzes UI

  .v-ui {
    text-align: center;
  }
  //Startseite
  .v-panel-startseite {
    .v-panel-caption {
      font-size: 16px;
    }
  }

  .v-accordion-startseite {
    .v-accordion-item-caption .v-caption {
      font-size: 16px;
    }

  }

  //Profil
  .v-button-loeschen {
    margin-top: 30px;
    color: #e2001a;
    border-color: #e2001a;
  }

  //Einzelansicht
  .v-label-ImportantTitle {
    font-size: 20px;
    font-weight: bolder;
  }

  .v-button-BearbeitenButton {
    margin-top: 10px;
  }

  .v-button-AnfrageButton {
    margin-top: 10px;
  }

  //Suche
  .v-layout-LayoutSuche {
    padding: 20px;
  }
  .v-label-suchLabel {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  .v-button-SuchButton {
    margin-top: 20px;
  }

  //AngebotErstellen
  .v-button-Button {
    margin-top: 10px;
  }

  .v-label-AbschnittLabel {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .v-label-AngeboteTextField {
    font-size: 10px;
  }

  //AngebotAnzeigen
  .v-label-ÜberschriftLabel {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .v-gridlayout-Listenzeile {
    border-color: #C0C0C0;
    border-width: 2px;
    border-style: solid;

  }

  .v-gridlayout-Listenzeile:hover {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;

  }

}

