@import "addons.scss";
@import "housing.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in housing.scss */
.housing {
  @include addons;
  @include housing;
  @include styles;
}